/* 
==========================================================
    ; Title: Assignment 1.3
    ; Author: Ngi Bujri
    ; Date: 17 October 2022
    ; Description: global styles for web-231
========================================================== 
*/

.card {
}

.card-title {
}

.card-content {
}

.card-hover {
}

.btn {
}

.btn-primary {
}

.btn-primary:hover {
}

.input {
}

.full-width {
}

.form {
}

.form-field {
}

.return-home {
  color: #4f3674;
  text-decoration: none;
}

.return-home:hover {
  background-color: #d6a800;
  color: #4f3674;
}

.return-home:visited {
  color: #3c275a;
}
