/* 
==========================================================
    ; Title: Assignment 6.2
    ; Author: Ngi Bujri
    ; Date: 21 November 2022
    ; Description: Assignment demonstrating use of objects
==========================================================
*/

.container {
  font-family: "Oswald", Verdana, Arial, sans-serif;
}

.app-header {
  text-align: center;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 30px;
}

th {
  text-align: left;
  background-color: #4f3674;
  color: #fff;
}

/* give spacing and show where table cells end */
td,
th {
  padding: 12px;
  border: 1px solid #ddd;
}

/* highlight row when hovering over */
tr:hover {
  background-color: #d6a800;
  color: #4f3674;
  cursor: pointer;
}
